.footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #ffd700;
  margin-top: 30px;
  font-family: 'Cairo', sans-serif;
}

.social-icons a {
  margin: 0 10px;
  font-size: 28px;
  color: #ffd700;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  transform: scale(1.3);
  color: #ffcc00;
}

.made-by {
  margin-top: 20px;
  font-family: 'Cairo', cursive, sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #ffcc00;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
}
}